*.pyc
*.cpython-37.pyc
terrenos_panoramicos/db.sqlite3
*.cpytho
*.cpython-3
/terrenos_panoramicos/terrenos_panoramicos/__pycache__/
/terrenos_panoramicos/empresa/__pycache__/
/terrenos_panoramicos/users/__pycache__/
/terrenos_panoramicos/users/migrations/__pycache__/
/terrenos_panoramicos/ventas/__pycache__/
/terrenos_panoramicos/ventas/migrations/__pycache__/
/terrenos_panoramicos/empresa/__pycache__/__init__.cpython-37.pyc
env/
## Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
.vscode/
.env
venv/
/terrenos_panoramicos/terrenos_panoramicos/credentials.json