
<div class="row">
  {% for reporte in reportes_abiertos %}

  <div class="col-sm-4">
    <div class="card text-white bg-danger">
      <div class="card-header">ID-{{reporte.pk}}: Reporte Abierto <br>
      {% if reporte.agente_soporte %}
        Agente de soporte: {{reporte.agente_soporte}}
      {% else %}
        Agente de soporte: <strong>¡No hay un Agente de Soporte a cargo!</strong>
      
      {% endif %}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{reporte.asunto}}</h5>
        <p class="card-text">{{reporte.reporte}}<br><br><i>Creado: {{reporte.creado}}</i>
          <br><i> Modificado: {{reporte.modificado}}</i>
        </p>
          <a class="btn btn-sm btn-primary" href="{% url 'reporte_update' reporte.pk %}">Editar</a>
        </div>
      </div>
    </div> 

    {% endfor %}
</div>
<div class="row">
  {% for reporte in reportes_proceso %}

  <div class="col-sm-4">
    <div class="card text-dark bg-warning">
      <div class="card-header">ID-{{reporte.pk}}: Reporte En proceso <br>
      
      {% if reporte.agente_soporte %}
        Agente de soporte: {{reporte.agente_soporte}}
      {% else %}
        Agente de soporte: <strong>¡No hay un Agente de Soporte a cargo!</strong>
      
      {% endif %}
        
      </div>
      <div class="card-body">
        <h5 class="card-title">{{reporte.asunto}}</h5>
        <p class="card-text">{{reporte.reporte}}<br><br><i> Creado: {{reporte.creado}}</i>
          <br><i> Modificado: {{reporte.modificado}}</i>
        </p>
          <a class="btn btn-sm btn-primary" href="{% url 'reporte_update' reporte.pk%}">Editar</a>
        </div>
      </div>
    </div> 

    {% endfor %}
</div>
<div class="row">
  {% for reporte in reportes_cerrados %}
    
  <div class="col-sm-4">
    <div class="card text-white bg-success">
      <div class="card-header">ID-{{reporte.pk}}: Reporte Cerrado <br>
      {% if reporte.agente_soporte %}
        Agente de soporte: {{reporte.agente_soporte}}
      {% else %}
        Agente de soporte: <strong>¡No hay un Agente de Soporte a cargo!</strong>
      
      {% endif %}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{reporte.asunto}}</h5>
        <p class="card-text">{{reporte.reporte}}<br><br><i> Creado: {{reporte.creado}}</i>
          <br><i> Modificado: {{reporte.modificado}}</i>
        </p>
        <a class="btn btn-sm btn-primary" href="{% url 'reporte_update' reporte.pk %}">Editar</a>
      </div>
    </div>
  </div>

  {% endfor %}
</div>