{% extends "base.html" %}

{% block head_content %}
{%load static%}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.ico' %}"/>
<title>FAQs</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}"> 
<link rel="stylesheet" href="{% static 'css/soporte/reporte.css' %}">
{% endblock %}

{% block container %}
<section id="titular" class="pt-3 pb-3">
  <div class="container">
    <div class="row">
        <div id="izquierdo" class="col-12 col-md-12 col-lg-6 text-left" >
          <p>Reportes</p>
      </div>
    </div>
    </div>
</section>
<div class="row justify-content-md-center">
  <div class="col-6 pt-4 pb-4" style="font-size: 1.2rem; font-family: Segoe UI; color: #56411F;">
        <div class="card card-body" style="font-size: 1.1rem;">
            <form action="" method="POST">
                {% csrf_token %}
                {% for error in form.error%}
                        <div class="alert alert-danger" role="alert">
                            {% for e in error%}
                                {{e}}
                            {%endfor%}
                        </div>
                    {%endfor%}
                    
                    <div class="form-group">
                        <label>Asunto:</label>
                        {{form.asunto}}
                        <div class="invalid-feedback">
                            {% for error in form.asunto.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Reporte:</label>
                        {{form.reporte}}
                        <div class="invalid-feedback">
                            {% for error in form.reporte.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Usuario que reporto:</label>
                        <input class="form-control" value="{{reporte.user}}" disabled>
                    </div>
                    <div class="form-group">
                        <label>Agente de soporte:</label>
                        <input class="form-control" value="{{reporte.agente_soporte}}" disabled>
                        <div class="invalid-feedback">
                            {% for error in form.agente_soporte.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Estado:</label>
                        {{form.estado}}
                    </div>
                    
                    <div class="form-group">
                        <label>Gerente de Soporte:</label>
                        <input class="form-control" value="{{reporte.gerente_soporte}}" disabled>

                    </div>
                    <div class="form-group">
                        <label>Solución:</label>
                        <textarea name="" id="" cols="40" rows="3" resize=none class="form-control"
                                    maxlength="3000" disabled>{{reporte.solucion}}</textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" >
                </form>
        </div>
    </div>
    
</div>
{% include 'soporte/reporte/reporte_cards.html' %}


{% endblock %}