{% extends "base.html" %}
{%load static%}
{% block head_content %}
<title>Terrenos Panorámicos</title>
 <link href="{% static 'css/Inicio.css' %}" rel="stylesheet" type="text/css"/>
 <link href="{% static 'css/aos.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block container %}
    <!-- Central -->
<div id="boro" class="container-fluid" style="margin-left: 0px;">
  <div   class="row justify-content-center">
      <div   class="col-12 col-md-4">
          <h1 id="titulo">
                 <strong>Terrenos en Venta</strong>
          </h1>
          <p id="descriptivo">Sé el primero en descubrir nuevas propiedades y no pierdas ni un segundo en encontrar la tuya.</p>
          <a href="{% url 'catalogo' %}">
            <button type="button" 
                    class="btn btn-brown" 
                    style="background: #A37A37;
                          color: #fff;
                          margin-top: 20px;
                          ">Ingresar
          </button>
          </a>  
      </div>
      <div class="col-md-6">
        <div class="row justify-content-around align-items-center">
          <div class="col-md-3 ">
            <div class="card-inmueble">
              <div class="card">
                <img class="card-img-top" src="https://www.abacobrasil.com.br/media/zoo/images/blog-10-motivos_ed66a93c7ccae03ce0b50e66bde6a064.jpg" 
                  alt="Card image cap"
                  width= "358px"
                  height= "150px">
                <div class="card-body">
                  <p class="card-text">Construye la casa detu sueños</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card-inmueble">
              <div class="card" >
                <img class="card-img-top" src="https://www.grupofarko.com/hs-fs/hubfs/terreno%20de%20inversion%20premium.jpg?width=1200&name=terreno%20de%20inversion%20premium.jpg" 
                    alt="Card image cap"

                    width= "358px"
                     height= "150px">
                <div class="card-body">
                  <p class="card-text">Adquiere los más grandes</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-around">
          <div class="col-md-3 ">
            <div class="card-inmueble">
              <div class="card">
                <img class="card-img-top" src="https://d25rq8gxcq0p71.cloudfront.net/dictionary-images/324/land.jpg" 
                   alt="Card image cap"
                   width= "358px"
                   height= "150px">
                <div class="card-body">
                  <p class="card-text">Ciembra tanto como quieras</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="card-inmueble">
              <div class="card">
                <img class="card-img-top" src="https://www.cafeviena.pe/wp-content/uploads/2020/05/terrenos-5-678x381.jpg" 
                  alt="Card image cap"
                  width= "358px"
                  height= "150px">
                <div class="card-body">
                  <p class="card-text">Consigue los lotes que quieras</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
    
    <!-- /Central -->
    
    <!-- /Espaciador-->
    <div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!--Espaciador-->
    
    <!-- Botonera -->
    <!-- <center>
      <button id="botonera" type="button" class="btn btn-primary btn-lg col-lg-5 align-items-center" style="height: 187px; margin-right: 34px;">Construcción</button>
      <button id="botonera" type="button" class="btn btn-secondary btn-lg col-lg-5 align-items-center" style="height: 187px">Servicios</button>
    </center>     -->
    <!-- /Botonera -->
    
    <!-- /Espaciador-->
    <!--Espaciador-->
    <!-- Construcción -->
    <div class="site-section overlay site-cover-2" style="background-image: url('{% static 'img/home/portada_cons.jpg' %}')">
      <div class="container">
        <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h2 id="titulo2" class="text-white mb-4">Nuestros Servicios de Construcción</h2>
      </div>
    </div>
  </div>
</div>
<div class="features-lg ">
  <div class="container">
    <div class="row feature align-items-center justify-content-between">
      <div class="col-lg-7 section-stack order-lg-2 mb-4 mb-lg-0 position-relative" data-aos="fade-up" data-aos-delay="0">

        <div class="image-stack">
          <div class="image-stack__item image-stack__item--top">
            <img src="{% static 'img/home/carpinteriah.jpg' %}" alt="">
          </div>
          <div class="image-stack__item image-stack__item--bottom">
            <img src="{% static 'img/home/carpinteria2.jpg' %}" alt="">
          </div>
        </div>

      </div>
      <div class="col-lg-4 section-title" data-aos="fade-up" data-aos-delay="100">
        
        <h2 class="font-weight-bold mb-4 heading">Servicios de Carpinteria</h2>
        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
        <p><a href="{% url 'catalogo' %}" class="btn btn-primary">Ingresar</a></p>

      </div>
      
    </div>
  </div>
</div>

<div class="features-lg">
  <div class="container">
    
    <div class="row feature align-items-center justify-content-between">
      <div class="col-lg-7 mb-4 mb-lg-0 section-stack" data-aos="fade-up" data-aos-delay="0">
        <img src="{% static 'img/home/construccion.jpg' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-4 section-title" data-aos="fade-up" data-aos-delay="100">
        
        <h2 class="font-weight-bold mb-4">Servicios de construcción de obra</h2>
        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
        <p><a href="{% url 'catalogo' %}" class="btn btn-primary">Ingresar</a></p>

      </div>
      
    </div>

  </div>
</div>
<div class="features-lg ">
  <div class="container">
    <div class="row feature align-items-center justify-content-between">
      <div class="col-lg-7 section-stack order-lg-2 mb-4 mb-lg-0 position-relative" data-aos="fade-up" data-aos-delay="0">

        <div class="image-stack">
          <div class="image-stack__item image-stack__item--top">
            <img src="{% static 'img/home/acabados2.jpg' %}" alt="">
          </div>
          <div class="image-stack__item image-stack__item--bottom">
            <img src="{% static 'img/home/acabadosengeneralH.jpg' %}" alt="">
          </div>
        </div>

      </div>
      <div class="col-lg-4 section-title" data-aos="fade-up" data-aos-delay="100">
        
        <h2 class="font-weight-bold mb-4 heading">Servcios de acabados en general</h2>
        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
        <p><a href="{% url 'catalogo' %}" class="btn btn-primary">Ingresar</a></p>

      </div>
      
    </div>
  </div>
</div>

<div class="features-lg">
  <div class="container">
    
    <div class="row feature align-items-center justify-content-between">
      <div class="col-lg-7 mb-4 mb-lg-0 section-stack" data-aos="fade-up" data-aos-delay="0">
        <img src="{% static 'img/home/arquitectura.jpg' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-4 section-title" data-aos="fade-up" data-aos-delay="100">
        
        <h2 class="font-weight-bold mb-4">Servicios de Arquitectura</h2>
        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
        <p><a href="{% url 'catalogo' %}" class="btn btn-primary">Ingresar</a></p>

      </div>
      
    </div>

  </div>
</div>
<div class="features-lg ">
  <div class="container">
    <div class="row feature align-items-center justify-content-between">
      <div class="col-lg-7 section-stack order-lg-2 mb-4 mb-lg-0 position-relative" data-aos="fade-up" data-aos-delay="0">

        <div class="image-stack">
          <div class="image-stack__item image-stack__item--top">
            <img src="{% static 'img/home/electricidadH.jpg' %}" alt="">
          </div>
          <div class="image-stack__item image-stack__item--bottom">
            <img src="{% static 'img/home/electricidad2.jpg' %}" alt="">
          </div>
        </div>

      </div>
      <div class="col-lg-4 section-title" data-aos="fade-up" data-aos-delay="100">
        
        <h2 class="font-weight-bold mb-4 heading">Servicios de electricidad</h2>
        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
        <p><a href="{% url 'catalogo' %}" class="btn btn-primary">Ingresar</a></p>

      </div>
      
    </div>
  </div>
</div>

<div class="features-lg">
  <div class="container">
    
    <div class="row feature align-items-center justify-content-between">
      <div class="col-lg-7 mb-4 mb-lg-0 section-stack" data-aos="fade-up" data-aos-delay="0">
        <img src="{% static 'img/home/plomeria.jpg' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-4 section-title" data-aos="fade-up" data-aos-delay="100">
        
        <h2 class="font-weight-bold mb-4">Servicios de plomeria</h2>
        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
        <p><a href="{% url 'catalogo' %}" class="btn btn-primary">Ingresar</a></p>

      </div>
      
    </div>

  </div>
</div>
      <!-- /Construcción -->
      <script src="{% static 'js/aos.js' %}"></script>
      <script src="{% static 'js/index.js' %}"></script>
      {% endblock %}