{%load static%}
<div class="carousel__elemento">
    <div  id="car1" style="padding: 2%;">
        <div class="card mb-2">
          <img class="card-img-top"
            src="{{ inmueble.photo.url }}" alt="Card image cap">
            <div style="background:#F7F8EC ;" class="card-body">
              <p class="card-text">{{inmueble.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li id="car1" class="list-group-item">Superficie: {{ inmueble.surface }} m²</li>
              <li id="car1" class="list-group-item">Uso de suelo: {{ inmueble.uso_suelo }}</li>
              <li id="car1" class="list-group-item">Régimen de propiedad: {{ inmueble.regimen_propiedad }}</li>
              <li id="car1" class="list-group-item">Frente: {{ inmueble.front }} m</li>
              <li id="car1" class="list-group-item">Fondo: {{ inmueble.bottom }} m</li>
            </ul>
            <div id="car1" class="card-body">
              
                {% include 'ventas/me_interesa.html' %}
              
            </div>
        </div>
    </div>
</div>