body{
  background-color:#f7f8ec!important ;
}
.card{
    border: 0px;
    background-color: transparent;
}

#introduccion{
top: 183px;
left: 307px;
width: 778px;
height: 81px;
text-align: left;
font: italic normal bold 20px/27px Segoe UI;
letter-spacing: 0px;
color: #344130;
opacity: 1;
}

.card-text{
     opacity: 1;
}

#elementos {
  background: transparent linear-gradient(180deg, #ACE14C 0%, #F7F8EC 100%) 0% 0% no-repeat padding-box;
  margin-top: 0px!important;
}

#titulo{
    top: 68px;
left: 307px;
width: 768px;
text-align: center;
font: normal normal 900 70px/95px Segoe UI;
letter-spacing: 0px;
color: #56411F;
text-shadow: 0px 3px 6px #00000029;
opacity: 1;
}

#cambio{
    fill: #ACE14C!important;
}

#index-home{
    width: 30px;
    height: 30px;
}

#menú{
    color:black;
    font-weight: bold;
}

#header .navbar {
    background-color: #91D2BD;
}

#TerrenosPanoramicos {
  width: 250px;
  height: 30px;
}
#footer {
  padding: 90px 0;
  text-align: center;
  font-size: 18px;
}
/*Form*/
/* .container .form{
  background-color:;
} */

.hero-slant {
  background-color: #ccc;
  position: relative;
  background-size: cover; }
  .hero-slant.overlay {
    position: relative; }
    .hero-slant.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.35); }
  .hero-slant .container {
    position: relative; }
  .hero-slant, .hero-slant > .container > .row {
    height: 110vh; }
  .hero-slant .sign-up-form {
    padding: 10px;
    border-radius: 7px;
    background: #ffffff;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1); }
    .hero-slant .sign-up-form .form-control {
      border: none; }
      .hero-slant .sign-up-form .form-control:active, .hero-slant .sign-up-form .form-control:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .hero-slant .sign-up-form input[type="submit"] {
      -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
      border-radius: 7px; }
  .hero-slant .intro {
    position: relative;
    z-index: 2;
    max-width: 500px; }
  .hero-slant .hero_img {
    position: absolute;
    right: 0;
    z-index: 9;
    bottom: 100px; }
    @media (max-width: 991.98px) {
      .hero-slant .hero_img {
        position: relative;
        margin-top: -200px;
        bottom: -100px;
        margin-bottom: 140px; } }
  .hero-slant .slant {
    position: absolute;
    width: calc(100% + 2px);
    height: 380px;
    bottom: -2px;
    left: -2px;
    z-index: 1;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat; }

.section-grey {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f5f5; }
  @media (max-width: 991.98px) {
    .section-grey .img-wrap .img {
      margin-top: 0; } }


#profile-box form label{
  font-size: 1.2rem;
}
/*/Form*/