@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');

:root {
  --main-verde: #AACA46;
  --main-crema: #F7F8EC;
  --main-white: #F1EEEE;
  --main-oliva: #344130;
  --main-azul: #007bff;
}
body{
  background: var(--main-crema)!important;
}


#Principal{
  top: 57px;
left: 0.423828125px;
width: 1366px;
height: 408px;
background: var(--main-crema) 0% 0% no-repeat padding-box;
opacity: 1;
}

#ingreso{
  top: 390px;
left: 168px;
width: 82px;
height: 27px;
text-align: center;
font: normal normal bold 20px/27px Segoe UI;
letter-spacing: 0px;
color: var(--main-white)!important;
opacity: 1;
}

#boro{
  background: linear-gradient(to bottom right, var(--main-verde), var(--main-verde) 50%, var(--main-crema) 50%, var(--main-crema) 75%);
}

#diagonal{
top: 57px;
left: -0.0002111196517944336px;
width: 1366px;
height: 408px;
background: linear-gradient(to bottom right, var(--main-verde), var(--main-verde) 50%, var(--main-crema) 50%, var(--main-crema) 75%);

opacity: 1;
}

#botonera{
  align-content: center;
text-align: center;
font: normal normal bold 55px/73px Segoe UI;
letter-spacing: 0px;
color: var(--main-oliva)!important;
background: var(--main-verde)!important;
opacity: 1;
}

.card{
  border: 0px;
  background-color: transparent;
  width: 300px;
}

#introduccion{
  top: 183px;
left: 307px;
width: 778px;
height: 81px;
text-align: left;
font: italic normal bold 20px/27px Segoe UI;
letter-spacing: 0px;
color: var(--main-oliva);
opacity: 1;
}
.card-inmueble{
  padding: 15%;
}

.card-text{
   opacity: 1;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
  max-height: 200px;
}

#elementos {
background: transparent linear-gradient(180deg, #ACE14C 0%, var(--main-crema) 100%) 0% 0% no-repeat padding-box;
margin-top: 0px!important;
}

#izquierdo{
top: 91px;
left: 138px;
width: 569px;
height: 161px;
letter-spacing: 0px;
opacity: 1;
}

#descriptivo{
text-align: left;
font: normal normal normal 20px/27px Segoe UI Historic;
letter-spacing: 0px;
color: var(--main-oliva);
opacity: 1;
}

#titulo{
text-align: center;
font: normal normal 900 90px/122px Segoe UI;
font-size: 100px;
letter-spacing: 0px;
color: var(--main-oliva);
opacity: 1;
line-height: 1;
@media screen and (max-width: 1000px){
  font-size: 80px;
}
}
#titulo2{
  text-align: center;
  font: normal normal 750 45px/61px Segoe UI;
  letter-spacing: 0px;
  text-shadow: 1px 3px 6px #000;
  opacity: 1;
  
  }

#cambio{
  fill: #ACE14C!important;
}

#index-home{
  width: 30px;
  height: 30px;
}

#menú{
  color:black;
  font-weight: bold;
}
#TerrenosPanoramicos {
width: 250px;
height: 30px;
}

#footer {
padding: 90px 0;
text-align: center;
font-size: 18px;
background: var(--main-verde);
}

.service{
  background:var(--main-verde);
}

/* Construcción */

.site-cover-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }
  .site-cover-2.overlay {
    position: relative; }
    .site-cover-2.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.4); }
  .features-lg .feature {
      padding: 70px 0; }
      @media (max-width: 991.98px) {
        .features-lg .feature {
          padding: 30px 0; } }

.section-stack {
  position: relative; }
  .section-stack img {
    width: 100%;
    display: block; }
  .section-stack .image-stack::after {
    content: ' ';
    display: table;
    clear: both; }
  .section-stack .image-stack__item--top {
    float: left;
    width: 66%;
    margin-right: -100%;
    position: relative;
    z-index: 1; }
    .section-stack .image-stack__item--top img {
      border: 4px solid #ffffff;
      -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1); }
  .section-stack .image-stack__item--bottom {
    float: right;
    width: 75%; }
  @supports ((display: -ms-grid) or (display: grid)) {
    .section-stack .image-stack {
      display: -ms-grid;
      display: grid;
      position: relative;
      -ms-grid-columns: (1fr);
      grid-template-columns: repeat(12, 1fr); }
    .section-stack .image-stack__item--bottom {
      grid-column: 4 / -1;
      -ms-grid-row: 1;
      grid-row: 1;
      width: 100%; }
    .section-stack .image-stack__item--top {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 8;
      grid-column: 1 / span 8;
      padding-top: 20%;
      width: 100%; } }