#busqueda{
    background: #f7f8ec!important;
    
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background: #f7f8ec!important;
}
button{
  background: #F7F8EC!important;
}
.icono{
  fill: transparent;
  stroke: var(--pink);
  stroke-width: 30;
  cursor: pointer;
  position: relative;
  border: none ;
  background: none;
  justify-self: right;
  padding: 0;
  }
.icono_active{
  fill: var(--pink);
  stroke: var(--pink);
  stroke-width: 30;
  cursor: pointer;
  position: relative;
  border: none ;
  background: none;
  justify-self: right;
  padding: 0;
  }

svg{
  overflow: visible !important;
  width: 2rem;
  }

  path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
  }

  .heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
  }

  .heart-main:hover path {
    animation: stroke-animation 2s ease-in-out forwards;
  }

  .heart-main:hover ~ .heart-background path {
    animation: fade-animation 2s ease-in-out forwards;
  }


@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--pink);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: var(--pink);
  }
}
@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--pink-light);
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
/* #me_interesa{
  transition: .5s;
}
#me_interesa:hover{
  height: 35px;
  width: 35px;
}
#me_interesa:active{
  fill: pink;
} */

#Subtitulo{
background: #F7F8EC!important;
top: 340px;
left: 139px;
width: 164px;
height: 30px;
text-align: left;
font: normal normal bold 22px/30px Segoe UI;
letter-spacing: 0px;
color: #344130;
opacity: 1;
}

#car1{
    background: #F7F8EC!important;
}



.card mb-2{
    border: 0px;
    background-color: transparent;
    width: 300px;
}

#introduccion{
    top: 183px;
left: 307px;
width: 778px;
height: 81px;
text-align: left;
font: italic normal bold 20px/27px Segoe UI;
letter-spacing: 0px;
color: #344130;
opacity: 1;
}

.card-text{
     opacity: 1;
}

#elementos {
  background: #F7F8EC;
  margin-top: 0px!important;
}

#titulo{
top: 76px;
left: 125px;
width: 500px;
height: 182px;
text-align: center;
font: normal normal 900 45px/61px Segoe UI;
letter-spacing: 0px;
color: #344130;
text-shadow: 1px 3px 6px #00000029;
opacity: 1;

}

#cambio{
    fill: #F7F8EC!important;
}

#index-home{
    width: 30px;
    height: 30px;
}

#menú{
    color:black;
    font-weight: bold;
}

#header .navbar {
    background-color: #91D2BD;
}

#TerrenosPanoramicos {
  width: 370px;
  height: 40px;
}

#main .carousel-inner img {
  max-height: 250px;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  background-color: #AACA46;
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#place-time {
  background-color: #343a40;
  color: white;
}

#place-time img {
  max-width: 100%;
}

#footer {
  padding: 90px 0;
  text-align: center;
  font-size: 18px;
  background: white!important;
}
