#busqueda{
    background: #f7f8ec!important;
    
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background: #f7f8ec!important;
}
.icono{
  fill: transparent;
  stroke: var(--pink);
  stroke-width: 30;
  cursor: pointer;
  position: relative;
  border: none ;
  background: none;
  justify-self: right;
  padding: 0;
  }
.icono_active{
  fill: var(--pink);
  stroke: var(--pink);
  stroke-width: 30;
  cursor: pointer;
  position: relative;
  border: none ;
  background: none;
  justify-self: right;
  padding: 0;
  }

svg{
  overflow: visible !important;
  width: 2rem;
  }

  path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
  }

  .heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
  }

  .heart-main:hover path {
    animation: stroke-animation 2s ease-in-out forwards;
  }

  .heart-main:hover ~ .heart-background path {
    animation: fade-animation 2s ease-in-out forwards;
  }


@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--pink);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: var(--pink);
  }
}
@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--pink-light);
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

#Subtitulo{
padding-left: 2.5%;
font: normal normal bold 22px/30px Segoe UI;
letter-spacing: 0px;
color: #344130;
opacity: 1;
}

#car1{
    background: #F7F8EC!important;
}



.card mb-2{
    border: 0px;
    background-color: transparent;
    width: 300px;
}

#introduccion{
    top: 183px;
left: 307px;
width: 778px;
height: 81px;
text-align: left;
font: italic normal bold 20px/27px Segoe UI;
letter-spacing: 0px;
color: #344130;
opacity: 1;
}

.card-text{
     opacity: 1;
}

#elementos {
  background: #F7F8EC;
  margin-top: 0px!important;
}

#titulo{
text-align: center;
font: normal normal 900 45px/61px Segoe UI;
letter-spacing: 0px;
color: #F7F8EC;
text-shadow: 1px 3px 6px #00000029;
opacity: 1;

}
#titulo_des{
text-align: center;
font-size: 1.1rem;
font: normal  Segoe UI;
letter-spacing: 0px;
color: #F7F8EC;
text-shadow: 1px 3px 6px #00000029;
opacity: 1;

}

#cambio{
    fill: #F7F8EC!important;
}

#index-home{
    width: 30px;
    height: 30px;
}

#menú{
    color:black;
    font-weight: bold;
}

#header .navbar {
    background-color: #91D2BD;
}

#TerrenosPanoramicos {
  width: 370px;
  height: 40px;
}

#main .carousel-inner img {
  max-height: 250px;
  width: 95.5%;
  object-fit: cover;
  filter: grayscale(15%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#place-time {
  background-color: #343a40;
  color: white;
}

#place-time img {
  max-width: 100%;
}

#footer {
  padding: 90px 0;
  text-align: center;
  font-size: 18px;
  background: white!important;
}

/* Carrusel */
.carousel__contenedor {
	position: relative;
  padding-left:2%;
  padding-right:2%;
}

#carousel__anterior,
#carousel__siguiente,
#carousel__anterior2,
#carousel__siguiente2,
#carousel__anterior3,
#carousel__siguiente3,
#carousel__anterior4,
#carousel__siguiente4,
#carousel__anterior5,
#carousel__siguiente5,
#carousel__anterior6,
#carousel__siguiente6,
#carousel__anterior7,
#carousel__siguiente7,
#carousel__anterior8,
#carousel__siguiente8,
#carousel__anterior9,
#carousel__siguiente9,
#carousel__anterior10,
#carousel__siguiente10,
#carousel__anterior11,
#carousel__siguiente11,
#carousel__anterior12,
#carousel__siguiente12,
#carousel__anterior13,
#carousel__siguiente13,
#carousel__anterior14,
#carousel__siguiente14,
#carousel__anterior15,
#carousel__siguiente15 {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #201202;
	opacity: 50%;
  overflow: visible;
}

#carousel__anterior:hover,
#carousel__siguiente:hover,
#carousel__anterior2:hover,
#carousel__siguiente2:hover,
#carousel__anterior3:hover,
#carousel__siguiente3:hover,
#carousel__anterior4:hover,
#carousel__siguiente4:hover,
#carousel__anterior5:hover,
#carousel__siguiente5:hover,
#carousel__anterior6:hover,
#carousel__siguiente6:hover,
#carousel__anterior7:hover,
#carousel__siguiente7:hover,
#carousel__anterior8:hover,
#carousel__siguiente8:hover,
#carousel__anterior9:hover,
#carousel__siguiente9:hover,
#carousel__anterior10:hover,
#carousel__siguiente10:hover,
#carousel__anterior11:hover,
#carousel__siguiente11:hover,
#carousel__anterior12:hover,
#carousel__siguiente12:hover,
#carousel__anterior13:hover,
#carousel__siguiente13:hover,
#carousel__anterior14:hover,
#carousel__siguiente14:hover,
#carousel__anterior15:hover,
#carousel__siguiente15:hover {
	opacity: 100%;
}

#carousel__anterior,
#carousel__anterior2,
#carousel__anterior3,
#carousel__anterior4,
#carousel__anterior5,
#carousel__anterior6,
#carousel__anterior7,
#carousel__anterior8,
#carousel__anterior9,
#carousel__anterior10,
#carousel__anterior11,
#carousel__anterior12,
#carousel__anterior13,
#carousel__anterior14,
#carousel__anterior15{
	left: -0px;
}


#carousel__siguiente,
#carousel__siguiente2,
#carousel__siguiente3,
#carousel__siguiente4,
#carousel__siguiente5,
#carousel__siguiente6,
#carousel__siguiente7,
#carousel__siguiente8,
#carousel__siguiente9,
#carousel__siguiente10,
#carousel__siguiente11,
#carousel__siguiente12,
#carousel__siguiente13,
#carousel__siguiente14,
#carousel__siguiente15 {
	right: -0px;
}

.carousel__lista,
.carousel__lista2,
.carousel__lista3,
.carousel__lista4,
.carousel__lista5,
.carousel__lista6,
.carousel__lista7,
.carousel__lista8,
.carousel__lista9,
.carousel__lista10,
.carousel__lista11,
.carousel__lista12,
.carousel__lista13,
.carousel__lista14,
.carousel__lista15{
	overflow: hidden;
}
 
.carousel__indicadores .glider-dot,
.carousel__indicadores2 .glider-dot,
.carousel__indicadores3 .glider-dot,
.carousel__indicadores4 .glider-dot,
.carousel__indicadores5 .glider-dot,
.carousel__indicadores6 .glider-dot,
.carousel__indicadores7 .glider-dot,
.carousel__indicadores8 .glider-dot,
.carousel__indicadores9 .glider-dot,
.carousel__indicadores10 .glider-dot,
.carousel__indicadores11 .glider-dot,
.carousel__indicadores12 .glider-dot,
.carousel__indicadores13 .glider-dot,
.carousel__indicadores14 .glider-dot,
.carousel__indicadores15 .glider-dot{
	display: block;
	width: 30px;
	height: 4px;
	background: #201202;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover,
.carousel__indicadores2 .glider-dot:hover,
.carousel__indicadores3 .glider-dot:hover,
.carousel__indicadores4 .glider-dot:hover,
.carousel__indicadores5 .glider-dot:hover,
.carousel__indicadores6 .glider-dot:hover,
.carousel__indicadores7 .glider-dot:hover,
.carousel__indicadores8 .glider-dot:hover,
.carousel__indicadores9 .glider-dot:hover,
.carousel__indicadores10 .glider-dot:hover,
.carousel__indicadores11 .glider-dot:hover,
.carousel__indicadores12 .glider-dot:hover,
.carousel__indicadores13 .glider-dot:hover,
.carousel__indicadores14 .glider-dot:hover,
.carousel__indicadores15 .glider-dot :hover{
	opacity: .5;
}

.carousel__indicadores .glider-dot.active,
.carousel__indicadores2 .glider-dot.active,
.carousel__indicadores3 .glider-dot.active,
.carousel__indicadores4 .glider-dot.active,
.carousel__indicadores5 .glider-dot.active,
.carousel__indicadores6 .glider-dot.active,
.carousel__indicadores7 .glider-dot.active,
.carousel__indicadores8 .glider-dot.active,
.carousel__indicadores9 .glider-dot.active,
.carousel__indicadores10 .glider-dot.active,
.carousel__indicadores11 .glider-dot.active,
.carousel__indicadores12 .glider-dot.active,
.carousel__indicadores13 .glider-dot.active,
.carousel__indicadores14 .glider-dot.active,
.carousel__indicadores15 .glider-dot.active {
	opacity: 1;
}
