{% extends "base.html" %}

{% block head_content %}
{%load static%}
<title>Ofrece tu predio</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}" >
{% endblock %}

{% block container %}
<div class="hero-slant overlay" data-stellar-background-ratio="0.5" style="background-image: url('{% static 'img/forms/portada_ofrece.jpg' %}')">
    <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-7 intro text-center">
              
              {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                  <strong>Error en el formulario</strong>
                  
                  {% if form.surface.errors %}
                  <br>
                  Superficie:
                  {% for error in form.surface.errors %}{{ error }}{% endfor %}
                  {% endif %}
                      
                  
                  {% if form.front.errors %}
                  <br>
                  Frente:
                  {% for error in form.front.errors %}{{ error }}{% endfor %}
                  {% endif %}
                      
                  
                  {% if form.bottom.errors %}
                  <br>
                    Fondo:
                  {% for error in form.bottom.errors %}{{ error }}{% endfor %}
                  {% endif %}
                      
                  
                  {% if form.price.errors %}
                  <br>
                  Precio por m²:
                  {% for error in form.price.errors %}{{ error }}{% endfor %}
                  {% endif %}
                      
                  
                  {% if  form.totalprice.errors %}
                  <br>
                  Precio total:
                  {% for error in form.totalprice.errors %}{{ error }}{% endfor %}
                  {% endif %}
                      
                  
                  {% if form.regimen_propiedad.errors %}
                  <br>
                  Regimen propiedad:
                  {% for error in form.regimen_propiedad.errors %}{{ error }}{% endfor %}
                  {% endif %}
                      
                  
                  {% if form.uso_suelo.errors %}
                  <br>
                  Uso de suelo:
                  {% for error in form.uso_suelo.errors %}{{ error }}{% endfor %}
                  {% endif %}
                      
                  
                  {% if form.description.errors %}
                  <br>
                  Descripción:
                  {% for error in form.description.errors %}{{ error }}{% endfor%}
                  {% endif %}
        
                {% if form.photo.errors %}
                <br>
                Foto:
                {% for error in form.photo.errors %}{{ error }}{% endfor %}
                {% endif %}
    
                </div>
              {% endif %}
                  
            <h1 class="text-white font-weight-bold mb-4" data-aos="fade-up" data-aos-delay="0">¡Ofrece tu predio!</h1>
            <p class="text-white mb-4" data-aos="fade-up" data-aos-delay="100">Coloca tu predio en la mejor plataforma online de oferta de inmuebles en el valle de Toluca.</p>            
          
           </div>
        </div>        
    </div>
<div class="slant" style="background-image: url('{% static 'img/forms/slant-grey.svg' %}');"></div>
    
<div class="section-grey bg-light">
<div style="background-color:#a9d6c9 ;" class="container p-5">
    <div class="block">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="col-10 col-md-6 pt-3 pb-3 " id="profile-box">
                <img src="{% static 'img/logo.png' %}" class="img-fluid rounded mx-auto d-block pb-4" style="max-width: 60%;">
                <form action="{% url 'ofrece'%}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for error in form.error%}
                        <div class="alert alert-danger" role="alert">
                            {% for e in error%}
                                {{e}}
                            {%endfor%}
                        </div>
                    {%endfor%}

                    <input type="hidden" name="user" value="{{ user.pk}}" />
                    <input type="hidden" name="profile" value="{{ profile.pk }}" />

                    {# Website field #}
                    <div class="form-group">
                        <label for="Superficie">Superficie del inmuble:</label>
                          <div class="input-group">
                            <input
                            id="Superficie"
                            class="form-control {% if form.surface.errors %}is-invalid{% endif %}"
                            type="number"
                            min="1" 
                            step = "0.0000000001"
                            name="surface"
                            placeholder="Superficie"
                            >
                            <span class="input-group-text" id="basic-addon2">m²</span>
                            <div class="invalid-feedback">
                                {% for error in form.surface.errors %}{{ error }}{% endfor %}
                            </div>
                          </div>
                    </div>
                    <div class="form-group">
                        <label for="Frente">Frente:</label>
                        <div class="input-group">
                            <input
                            id="Frente"
                            class="form-control {% if form.front.errors %}is-invalid{% endif %}"
                            type="number"
                            min="0.1" 
                            step = "0.0000000001"
                            name="front"
                            placeholder="Frente"
                            >
                            <span class="input-group-text" id="basic-addon2">m</span>
                        </div>
                        <div class="invalid-feedback">
                            {% for error in form.front.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Fondo">Fondo:</label>
                        <div class="input-group">
                            <input
                            id="Fondo"
                            class="form-control {% if form.bottom.errors %}is-invalid{% endif %}"
                            type="number"
                            min="0.1" 
                            step = "0.0000000001"
                            name="bottom"
                            placeholder="Fondo"
                            >
                            <span class="input-group-text" id="basic-addon2">m</span>

                        </div>
                        <div class="invalid-feedback">
                            {% for error in form.bottom.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Precio">Precio por m²:</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input
                            id="Precio"
                            class="form-control {% if form.price.errors %}is-invalid{% endif %}"
                            type="number"
                            min="0.1" 
                            step = "0.0000000001"
                            name="price"
                            placeholder="Precio por m²"
                            >
                        </div>
                        <div class="invalid-feedback">
                            {% for error in form.price.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="Precio_total">Precio total:</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input
                            id="Precio_total"
                            class="form-control {% if form.totalprice.errors %}is-invalid{% endif %}"
                            type="number"
                            min="0.1" 
                            step = "0.0000000001"
                            name="totalprice"
                            placeholder="Precio total"
                            >
                        </div>
                        <div class="invalid-feedback">
                            {% for error in form.totalprice.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="regimen_propiedad">Regimen propiedad:</label>
                        <select class="form-control {% if form.regimen_propiedad.errors %}is-invalid{% endif %}"
                                id="regimen_propiedad"
                                name="regimen_propiedad"
                                placeholder="Regimen Propiedad">
                            <option value="Privada">Privada</option>
                            <option value="Ejidal">Ejidal</option>
                            <option value="Comunal">Comunal</option>
                        </select>
                        <div class="invalid-feedback">
                            {% for error in form.regimen_propiedad.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="uso_suelo">Uso de suelo:</label>
                        <select class="form-control {% if form.uso_suelo.errors %}is-invalid{% endif %}"
                                id="uso_suelo"
                                name="uso_suelo"
                                placeholder="Uso de suelo"
                        >
                            <option value="Residencial">Residencial</option>
                            <option value="Actividades Productivas">Actividades Productivas</option>
                            <option value="Equipamiento">Equipamiento</option>
                            <option value="Infraestructura">Infraestructura</option>
                            <option value="Area Verde">Área Verde</option>
                            <option value="Otro">Otro</option>
                        </select>
                        <div class="invalid-feedback">
                            {% for error in form.uso_suelo.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    
                    <div class="form-group">
                    <label for="Descripcion">Descripción:</label>
                    <textarea
                        id="Descripcion"
                        class="form-control {% if form.description.errors %}is-invalid{% endif %}"
                        name="description"
                    ></textarea>

                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            {{ error }}
                        {% endfor%}
                    </div>
                    </div>

                    {# Photo field #}
                    <div class="form-group">
                        <label for="file">Escoje la foto de tu inmueble:</label>
                        <input
                            id="file"
                            class="form-control {% if form.photo.errors %}is-invalid{% endif %}"
                            type="file"
                            name="photo"
                            placeholder="photo"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.photo.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mt-5">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}