{% extends "admin/change_form.html" %}
{% block form_top %}

<!-- Incluye el CSS de Leaflet sin el atributo integrity -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
<style>
    #map { height: 400px; }
</style>

<h2>HOLA JS</h2>
<div id="map"></div>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        var pointsData = JSON.parse('{{ points_data|safe }}');
        // Asegúrate de que Leaflet está cargado aquí.
        var map = L.map('map').setView([pointsData[0].y, pointsData[0].x], 19);


        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        // Añade los puntos al mapa
      
     
            pointsData.forEach(function(point) {
                L.marker([point.y, point.x])
                    .bindPopup('EST: ' + point.est)
                    .addTo(map);
            });

             // Crea un arreglo con las coordenadas de los puntos para el polígono
             var polygonPoints = pointsData.map(function(point) {
                return [point.y, point.x];
            });
            console.log(pointsData)
            // Añade el polígono al mapa
            var polygon = L.polygon(polygonPoints).addTo(map)
    });
</script>        
{% endblock %}
