{% extends "base.html" %}

{% block head_content %}
{%load static%}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.ico' %}"/>
<title>{{exception}}</title>
<link rel="stylesheet" href="{% static 'css/Beta-css.css' %}" >
{% endblock %}

{% block container %}
<style>
    body{
        overflow-x:hidden;
    }
</style>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center">
        <div class="col-10 col-md-6 shadow p-3 mb-5 bg-transparent rounded">
            <div class="alert alert-danger fs-1" role="alert">
                <h1>
                    Lo sentimos, no tienes permiso para ingresar a este sitio.
                </h1>
              </div>

    </div>
</div>

{% endblock %}

{% block footer %}
    
{% endblock footer %}
    